*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

:root {
  --color1: #0D8C08;
  --color2: #f20707;
  --color3: #97d695;
  --color4: #d9d9d9;
  --color5: #0D0D0D;
  --color6: linear-gradient(180deg, var(--color4),var(--color1));
  --color8: linear-gradient(180deg, var(--color1),var(--color4));
  --color7: linear-gradient(180deg, var(--color2), var(--color1));
}

.Pagina{
  margin: 0;
  padding: 0; 
  background:var(--color4);
  max-width: 100%;
  
}

/*-----------------------HEADER---------------------------------------------------------*/

.Header{
  background: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
  max-width: 100%;
  display: flex;
  align-items: left;
  align-content: left;
  border-bottom: 2px solid black;
  
}


/*-----------------------LOGO---------*/
.Logo{
  display: inline-block;
  justify-content: flex-start;
  z-index: 5;
}

.LogoDolores{
  width: 150px;
  height: auto;
  margin-left: 50px;
  margin-top: 20px;
  z-index: 5;
}

/*Logo para movil*/

/*------------------menuyredes-------------------*/
.MenuYRedes{
  
  width: 100%;
}
.Menuu {
  display: none; 
 }
 .Menu2{
  display: none;
 }

/*-----------------------REDES---------*/
.Redes{
  width: auto;
  margin-left: 35px;
}

.LogoRedes{
  width: 30px;
  height: auto;
  margin-top: 8px;
  margin-left: 6px;
}

.LogoRedes:hover{
  transform: scale(1.2);
  
}


/*-----------------------MENU---------*/
.Menu {
  width: 100%;
  height: 50%;
  position: relative;
}
 ul {
  width: 90%; 
  position: absolute; 
  bottom: 0;
  margin-left: 10px;
}

 ul li {
  height: auto;
  display: inline-flex;
  justify-content: center;
  padding: 0.8%;
  
}

ul > li > a {
  margin-left: 20px;
  padding: 4px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 300ms ease;
  text-decoration: none;
  color: rgb(139, 139, 139); 
}
/* Estilos para la barra */
ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: var(--color1);
  transition: width 0.5s ease;
  transform-origin: center;
}
ul li a:hover::after {
  width: 100%;  
}
ul li a:hover { 
  transform: scale(1.2);
  color: rgb(0, 0, 0); 
}

/*----------MovilHeader------------------------------------*/
@media (max-width: 768px) {
  .Header{
    position:unset;
    height: 20%;
  }
  
   
   /*-----------Logo------*/

   .Logo{
    width: 100%;
  }
  
  .LogoDolores{
    width: 60%;
    margin-left: 50%;
  }
  /*-----------------------REDES---------*/
  .Redes{
  width: 460%;
  margin-top: 30%;
  margin-left: 45%;
    }

  .LogoRedes{
    width: 35px;
  }

  .LogoRedes:hover{
    transform: scale(1.2);
    color: rgb(0, 0, 0); 
  }

  /*-----------Menu---------------------*/
  .Menuu {
    display: block;/* Contenedor del botón con posición relativa */
    
  }
  
  .Menuu button {
    position: relative; /* Asegura que el botón esté en el flujo del documento */
    z-index: 3; /* Coloca el botón por encima del menú */
    margin-top: 110%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: 0.65rem;
  }
  
  .Menuu button > div {
    background: black;
    height: 2px;
    width: 80%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
  }
  
  .Menuu button.active div:first-child {
    transform: rotate(45deg);
  }
  
  .Menuu button.active div:nth-child(2) {
    opacity: 0;
  }
  
  .Menuu button.active div:last-child {
    transform: rotate(-45deg);
  }
  
  .Menu {
    position: absolute;
    margin-top: 10%;
    left: -250px; /* Ocultar fuera de la vista */
    width: 250px;
    height: 75%; 
    background: #fff; 
    transition: left 0.5s;
    display: flex;
    flex-direction: column; /* Para que los elementos se dispongan en columna */
    align-items: flex-start; /* Alinear los elementos en la parte superior */
    justify-content: flex-start; /* Asegurar que los elementos estén en la parte superior */
    z-index: 2; /* Coloca el menú por debajo del botón */
    
  }
  
  .Menu.active {
    left: 0; /* Mover dentro de la vista */
    margin-top: 10%;
    display: flex;
    flex-direction: column; /* Para que los elementos se dispongan en columna */
    align-items: flex-start; /* Alinear los elementos en la parte superior */
    justify-content: flex-start; /* Asegurar que los elementos estén en la parte superior */
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .Menu ul {
    padding: 0;
    
    width: 100%;
    text-align: center; 
    display: flex;
    flex-direction: column; /* Para que los elementos se dispongan en columna */
    align-items: flex-start; /* Alinear los elementos en la parte superior */
    justify-content: flex-start; /* Asegurar que los elementos estén en la parte superior */
    
  }
  
  .Menu ul li {
    margin: 15px 0;
  }
  
  .Menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
  }

  
}

/*-----------------------MAIN---------------------------------------------------------*/

.Cuerpo{
  
}


/*-----------------------SLIDES---------------------------------------------------------*/
.container {
  width: 100%;
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 3%;
  
}


.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 50%; 
  position: relative;
  
}
.slide1{
  width: 60%;
  height: 45%;
  position: relative;
  overflow: hidden; 
  
}
.slide1:hover{
  transform: scale(1.2);
  border-radius: 2rem;
}
.slide1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,  rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
  z-index: 1; /* Asegura que el degradado se coloque sobre la imagen */
  border-radius: 2rem;
}
.slide1:hover .slider_img {
  transform: scale(1.1); /* Aplica el efecto de zoom */
  border-radius: 2rem;
}
.slider_img{
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 0; /* Asegura que la imagen esté detrás del degradado */
  border-radius: 2rem;
  transition: transform 0.5s ease-in-out ;
}
.slider_img:hover{
  transform: scale(1.2);
}

.slide-content {
  position: absolute;
  top: 60%;
  z-index: 2;
  color: white;
  text-align: left;
  margin-left: 5%;
  padding: 1rem;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 1);
 
}
.slide-content button {
  width: 40%;
  
}
.slide-content h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 200%;
  
}
.slide-content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
}
/*-------------------------------------Boton------------*/

.slide-content button{
  background:var(--color1);
  color:#fff;
  margin: 5%;
  width: 50%;
  border:none;
  position:relative;
  font-size:1.1em;
  padding: 1%;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.slide-content button:hover{
  background:#fff;
  color:var(--color1);
}
.slide-content button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  transition:400ms ease all;
}
.slide-content button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.slide-content button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

/*------------------------------------------------------*/

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
@media (max-width: 768px) {
  .container{
    width:100% ;
    height: auto;
    margin-top: 10%;
  }
 .slide1{
  width: 80%;
  
 }
 .slide-content h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1cap;
  
}

}
/*-----------------------TEAMSLIDES---------------------------------------------------------*/
.sldEquipo{
  box-shadow: 4px 0 5px rgba(0, 0, 0, 1);
  background: var(--color6);
  margin-top: 5%;
}
.sldEquipo h1{
  color: #fff;
  padding-top: 2%;
  padding-left: 2%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
}
.Teamcontainer {
  padding-top: 1%;
  padding-bottom: 3%;
  margin: 0 auto;
  
}

.Teamswiper_container {
  height: 50%; 
  position: relative;
  
}
.slide2 {
  width: auto;
  height: 45%;
  position: relative;
  overflow: hidden; /* Asegura que el contenido no se desborde */
}



.slide2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  z-index: 1; /* Asegura que el degradado se coloque sobre la imagen */
  border-radius: 2rem;
}

.teamSlider_img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  position: relative;
  z-index: 0; /* Asegura que la imagen esté detrás del degradado */
  border-radius: 2rem;
  margin-left: 2px;
  transition: transform 0.3s ease-in-out; /* Añade una transición suave */
}

.Teamslide-content {
  position: absolute;
  top: 60%;
  z-index: 2;
  color: white;
  text-align: center;
  
}

.Teamslide-content h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  padding-top: 20%;
}
.Teamslide-content img {
  width: 15%;
}
.Teamslide-content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
}

.Teamswiper-slide-shadow-left,
.Teamswiper-slide-shadow-right {
  display: none;
}

.Teamslider-controler {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Teamslider-controler .slider-arrow::after {
  content: '';
}

.Teamswiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.Teamswiper-pagination .Teamswiper-pagination-bullet-active {
  background: var(--primary);
}
@media (max-width: 768px) {
  
  .sldEquipo{
    
  }
  .sldEquipo h1{
    font-size: 2cap;
  }
  
  .slide2 {
    padding-top: 15px;
    width: 150px;
   height: 270px;
  }
  .slide2::before {
   background:none ;
  }
  .Teamslide-content {
    top: 55%;
  }
  .Teamslide-content h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
    font-size: 1cap;
  }
  
}
.sldSpon{
margin-top: 10%;
}
/*-----------------------FOOTER---------------------------------------------------------*/
.Footer{
  box-shadow: 4px 0 5px rgba(0, 0, 0, 1);
}
.Footer-Logos{
  display: flex;
  background: #f0f0f0;
}
.LogoDolores-footer{
  width: 50%;
  margin: 15%;
  margin-left: 40%;
}
.Logo_footer{
  width: 20%;
}
.sponsors1{
  width: 20%;
  height: 20%;
  display: flex;
  margin-top: 2%;
  margin-right: 2%;
}
.LogoSponsors1{
  width: 50%;
  height: auto;
}
.container-footer {
  background: #f0f0f0;
  width: 100%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.container-footer p {
  font-size: 1.5cap;
  color: var(--color2);
}
.Redes-Footer{
  width: 50%;
  margin: 3%;
  margin-top: 5%;
  margin-left: 29%;
}
.LogoRedes-Footer{
  width: 6%;
  margin: 1%;
}

@media (max-width: 768px) {
  .container-footer p {
    font-size: 1cap;
    color: var(--color2);
  }
  .LogoDolores-footer{
    width: 100%;
  }
  .LogoRedes-Footer{
    width: 15%;
  }
  .LogoSponsors1{
    width: 100%;
  }
  .sponsors1{
    margin-right: 13%;
  }
}

/*-----------------------PRODUCTOS---------------------------------------------------------*/
.productos{
  width: 80%;
  border: 2px solid black;
  display: flex;
  background-color: var(--color1);
  margin-top: 5%;
  margin-bottom: 10%;
  border-style: solid;
  border-radius: 0 20% 10% 0;

}
.producto{
  display: inline-block;
  border: 2px solid black;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}
.producto p{
  color: var(--color4);
}
.producto:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

/*-----------------------Equipo---------------------------------------------------------*/
.Team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Team_imagenes {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-bottom: 10%;
}

.team-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.Team_titulo{
  margin:5%;
}
.Team_titulo h1{
  font-size: 4cap;
  color: #ffffff;
  text-shadow: 3px 3px 4px var(--color1); 
}
.Team_perfil{
  width: 60%;
  transition: 600ms;
  display: block;
}
.Team_perfil:hover{
 
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  
  
}
.Team_perfil_nomb_nac{
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}
.Team_perfil_nomb_nac img{
  width: 12%;
  margin-left: 4%;
  
}
.Team_perfil_nomb_nac h2{
  color: #ffffff;
  font-size: 2cap;
  text-shadow: 3px 3px 3px var(--color1); 
}

@media (max-width: 768px) {
  .Team_titulo h1{
    font-size: 2cap;  
  }
  .Team_perfil_nomb_nac h2{
    font-size: 1cap; 
  }
  .Team_perfil{
    width: 80%;
  
  }


}

/*-----------------------Perfil---------------------------------------------------------*/

.Perfil{
  
  width: 100%;
  height: auto;
  
}
.Perfil-SolidoFoto{
  display: flex;
  align-items: center;
  z-index: 0;
  position: relative;
}
.Perfil-Foto{
  position: relative;
  width: 70%;
  height: 700px;
  overflow: hidden;
}
.Perfil-Foto img {
  display: block;
  width: auto; 
  height: 100%; 
  max-width: 100%; 
  object-fit: cover; 
  z-index: 1;
}
.Perfil-Foto h1 {
  font-size: 3cap;
  z-index: 7;
}
.Perfil-Foto::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  z-index: 1; /* Asegura que el degradado se coloque sobre la imagen */
}
.Perfil-Solido{
  padding-left: 10px;
  background: #006c09;
  height: 700px;
  width: 40%;
}
.Perfil-InfoEspacio{
  border: 2px solid black;
  display: flex;
  align-items: center;
  z-index: 0;
  position: relative;
}
.Perfil-Info{
  border: 2px solid black;
  width: 80%;
  height: 100%; 
  max-width: 100%;
}
.Perfil-Espacio{
  border: 2px solid black;
  width: 100%;
  position: relative;
}
.Perfil-Espacio img {
  width: 76%;
  position: absolute; /* Permite mover la imagen */
  top: -650px; /* Ajusta el valor según sea necesario para mover la imagen hacia arriba */
  left: 0%; /* Centra la imagen horizontalmente */
  /*transform: translateX(-50%);  Ajuste adicional para centrar */
  m
}


/*----------------------------staff------------------------------------------*/
.Team_imagenes_staff {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-bottom: 20%;
}
.Team_staff{
  border: 2px solid black;
  text-align: center;
  width: 80%;
  
}
.staff-image{
  width: 90%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  
}
.staff_redes{
  
}
.Team_staff:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.Perfil_redes_foto:hover{
  transform: scale(1.2);
}

/*----------------------------Sponsors------------------------------------------*/
.Sponsors-main{
  
  display: grid;
  justify-items: left;
  align-items: left;
  margin-left: 10%;
  margin-top: 5%;
}
.Sponsors-Principales {
  display: grid;
  width: 65%;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-bottom: 20%;
  margin-top: 5%;
  
}
.Sponsors-imagenes{
  background-color: #cfffd2;
  width: 300px;
  height: 300px;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.Sponsors-imagenes:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.Sponsors-imagenes img{
  width: 95%;
  height: auto;
  object-fit: cover;
}
.Sponsors-Secundarios {
  display: grid;
  width: 65%;
  grid-template-columns: repeat(4, 1fr);
  gap: 4%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-bottom: 20%;
  margin-top: 5%;
}
.Sponsors-imagenes1{
  background-color: #cfffd2;
  width: 220px;
  height: 220px;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.Sponsors-imagenes1:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.Sponsors-imagenes1 img{
  width: 95%;
  height: auto;
  object-fit: cover;
}
/*---------------------------------SPONSORS PRINCIPAL----------------------*/
.Sponsors_principal-main{
  box-shadow: 4px 0 5px rgba(0, 0, 0, 1);
  background: var(--color6);
  margin-top: 5%;
  height: 1000px;
}
.Sponsors_principal-main h1{
    color: white;
    padding-top: 5%;
    padding-left: 2%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);  
}
.Sponsors_principal-Principales {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(5, 1fr);
  gap: 4%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 5%;
  
}
.Sponsors_principal-imagenes{
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  
}
.Sponsors_principal-imagenes:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  
}
.Sponsors_principal-imagenes img{
  width: 95%;
  height: auto;
  object-fit: cover;
}
.Sponsors_principal-Secundarios {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(6, 1fr);
  gap: 4%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-top: 5%;
  margin-left: 5%;
}
.Sponsors_principal-imagenes1{ 
  width: 80%;
  height: auto;
  display: grid;
  justify-items: center;
  align-items: center;
}
.Sponsors_principal-imagenes1:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.Sponsors_principal-imagenes1 img{
  width: 95%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .Sponsors_principal-main{
    height: 500px;
  }

  .Sponsors_principal-main h1{
    font-size: 2cap;    
}
.Sponsors_principal-Principales {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 5%;
  
}
.Sponsors_principal-Secundarios {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(5, 1fr);
  gap: 4%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-top: 5%;
  margin-left: 5%;
}
}

/*----------------------------SobreNosotros------------------------------------------*/
.Sobre-Nosotros{
  border: 2px solid black;
  display: grid;
  justify-items: center;
  align-items: center;
}
.Sobre-Nosotros1{
  background-color: var(--color4);
  margin-top:5% ;
  border: 2px solid black;
  display: grid;
  justify-items: center;
  align-items: center;
}
.Sobre-Nosotros-Titulo{
  border: 2px solid black;
  width: 80%;
  margin:2% ;
}
.Sobre-Nosotros-img {
  display: grid;
  justify-items: center;
  align-items: center;
}
.Sobre-Nosotros-img img{
  margin:2% ;
  width: 80%;
}
.Sobre-Nosotros-Parrafo{
  border: 2px solid black;
  margin:2% ;
}

/*--------------------------Carreras----------------------------*/

.Carreras {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Carreras_imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-bottom: 20%;
}
.Carreras_staff{
  border: 2px solid black;
  text-align: center;
  width: 80%;
  
}
.Carreras-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.Carreras-image:hover {
  
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.Carreras_titulo{
  margin:5%;
}