*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

:root {
  --color1: #0D8C08;
  --color2: #f20707;
  --color3: #97d695;
  --color4: #f0f0f0;
  --color5: #0D0D0D;
  --color6: linear-gradient(180deg, var(--color4),var(--color1));
  --color7: linear-gradient(180deg, var(--color5), var(--color3));
}

.Pagina{
  margin: 0;
  padding: 0; 
  background:var(--color7);
}

/*-----------------------HEADER---------------------------------------------------------*/

.Header{
  background: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
  max-width: 100%;
  display: flex;
  align-items: left;
  align-content: left;
  border-bottom: 2px solid black;
  
}


/*-----------------------LOGO---------*/
.Logo{
  display: inline-block;
  justify-content: flex-start;
}

.LogoDolores{
  width: 150px;
  height: auto;
  margin-left: 50px;
  margin-top: 20px;
  
}

/*Logo para movil*/

/*------------------menuyredes-------------------*/
.MenuYRedes{
  
  width: 100%;
}
.Menuu {
  display: none; 
 }
 .Menu2{
  display: none;
 }

/*-----------------------REDES---------*/
.Redes{
  width: auto;
  margin-left: 35px;
}

.LogoRedes{
  width: 30px;
  height: auto;
  margin-top: 8px;
  margin-left: 6px;
}

.LogoRedes:hover{
  transform: scale(1.2);
  
}


/*-----------------------MENU---------*/
.Menu {
  width: 100%;
  height: 50%;
  position: relative;
}
 ul {
  width: 90%; 
  position: absolute; 
  bottom: 0;
  margin-left: 10px;
}

 ul li {
  height: auto;
  display: inline-flex;
  justify-content: center;
  padding: 0.8%;
  
}

ul > li > a {
  margin-left: 20px;
  padding: 4px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 300ms ease;
  text-decoration: none;
  color: rgb(139, 139, 139); 
}
/* Estilos para la barra */
ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: var(--color1);
  transition: width 0.5s ease;
  transform-origin: center;
}
ul li a:hover::after {
  width: 100%;  
}
ul li a:hover { 
  transform: scale(1.2);
  color: rgb(0, 0, 0); 
}

/*----------MovilHeader------------------------------------*/
@media (max-width: 768px) {
  .Header{
    position:unset;
    height: 20%;
  }
  
   
   /*-----------Logo------*/

   .Logo{
    width: 100%;
  }
  
  .LogoDolores{
    width: 60%;
    margin-left: 50%;
  }
  /*-----------------------REDES---------*/
  .Redes{
  width: 460%;
  margin-top: 30%;
  margin-left: 45%;
    }

  .LogoRedes{
    width: 35px;
  }

  .LogoRedes:hover{
    transform: scale(1.2);
    color: rgb(0, 0, 0); 
  }

  /*-----------Menu---------------------*/
  .Menuu {
    display: block;/* Contenedor del botón con posición relativa */
    
  }
  
  .Menuu button {
    position: relative; /* Asegura que el botón esté en el flujo del documento */
    z-index: 3; /* Coloca el botón por encima del menú */
    margin-top: 110%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: 0.65rem;
  }
  
  .Menuu button > div {
    background: black;
    height: 2px;
    width: 80%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
  }
  
  .Menuu button.active div:first-child {
    transform: rotate(45deg);
  }
  
  .Menuu button.active div:nth-child(2) {
    opacity: 0;
  }
  
  .Menuu button.active div:last-child {
    transform: rotate(-45deg);
  }
  
  .Menu {
    position: absolute;
    margin-top: 10%;
    left: -250px; /* Ocultar fuera de la vista */
    width: 250px;
    height: 75%; 
    background: #fff; 
    transition: left 0.5s;
    display: flex;
    flex-direction: column; /* Para que los elementos se dispongan en columna */
    align-items: flex-start; /* Alinear los elementos en la parte superior */
    justify-content: flex-start; /* Asegurar que los elementos estén en la parte superior */
    z-index: 1; /* Coloca el menú por debajo del botón */
    
  }
  
  .Menu.active {
    left: 0; /* Mover dentro de la vista */
    margin-top: 10%;
    display: flex;
    flex-direction: column; /* Para que los elementos se dispongan en columna */
    align-items: flex-start; /* Alinear los elementos en la parte superior */
    justify-content: flex-start; /* Asegurar que los elementos estén en la parte superior */
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .Menu ul {
    padding: 0;
    
    width: 100%;
    text-align: center; 
    display: flex;
    flex-direction: column; /* Para que los elementos se dispongan en columna */
    align-items: flex-start; /* Alinear los elementos en la parte superior */
    justify-content: flex-start; /* Asegurar que los elementos estén en la parte superior */
    
  }
  
  .Menu ul li {
    margin: 15px 0;
  }
  
  .Menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
  }

  
}

/*-----------------------MAIN---------------------------------------------------------*/

.Cuerpo{
  
}


/*-----------------------SLIDES---------------------------------------------------------*/
.container {
  width: 100%;
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 3%;
  
}


.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 50%; 
  position: relative;
  
}
.slide1{
  width: 60%;
  height: 45%;
  position: relative;
  overflow: hidden; 
  
}
.slide1:hover{
  transform: scale(1.2);
  border-radius: 2rem;
}
.slide1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,  rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
  z-index: 1; /* Asegura que el degradado se coloque sobre la imagen */
  border-radius: 2rem;
}
.slide1:hover .slider_img {
  transform: scale(1.1); /* Aplica el efecto de zoom */
  border-radius: 2rem;
}
.slider_img{
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 0; /* Asegura que la imagen esté detrás del degradado */
  border-radius: 2rem;
  transition: transform 0.5s ease-in-out ;
}
.slider_img:hover{
  transform: scale(1.2);
}

.slide-content {
  position: absolute;
  top: 60%;
  z-index: 2;
  color: white;
  text-align: left;
  margin-left: 5%;
  padding: 1rem;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 1);
 
}
.slide-content button {
  width: 40%;
  
}
.slide-content h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 200%;
  
}
.slide-content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
}
/*-------------------------------------Boton------------*/

.slide-content button{
  background:var(--color1);
  color:#fff;
  margin: 5%;
  width: 50%;
  border:none;
  position:relative;
  font-size:1.1em;
  padding: 1%;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.slide-content button:hover{
  background:#fff;
  color:var(--color1);
}
.slide-content button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--color1);
  transition:400ms ease all;
}
.slide-content button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.slide-content button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

/*------------------------------------------------------*/

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
@media (max-width: 600px) {
  .container{
    width:100% ;
    height: auto;
  }
 .slide1{
  width: 80%;
 }

}
/*-----------------------TEAMSLIDES---------------------------------------------------------*/
.sldEquipo{
  box-shadow: 4px 0 5px rgba(0, 0, 0, 1);
  background: #ffe8e880;
  margin-top: 5%;
}
.sldEquipo h1{
  color: #fff;
  margin : 1%;
  padding-top: 2%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-style: italic;
  text-decoration: underline rgb(1, 209, 36);
}
.Teamcontainer {
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0 auto;
  
}

.Teamswiper_container {
  height: 50%; 
  position: relative;
  
}
.slide2{
  width: auto;
  height: 45%;
  position: relative;
}
.slide2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,  rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5));
  z-index: 1; /* Asegura que el degradado se coloque sobre la imagen */
  border-radius: 2rem;
}
.teamSlider_img{
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 0; /* Asegura que la imagen esté detrás del degradado */
  border-radius: 2rem;
  margin-left: 2px;
}
.Teamslide-content {
  position: absolute;
  top: 60%;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}
.Teamslide-content h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  padding-top: 20%;
}
.Teamslide-content img {
  width: 15%;
}
.Teamslide-content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
}

.Teamswiper-slide-shadow-left,
.Teamswiper-slide-shadow-right {
  display: none;
}

.Teamslider-controler {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Teamslider-controler .slider-arrow::after {
  content: '';
}

.Teamswiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.Teamswiper-pagination .Teamswiper-pagination-bullet-active {
  background: var(--primary);
}

/*-----------------------FOOTER---------------------------------------------------------*/
.Footer{
  box-shadow: 4px 0 5px rgba(0, 0, 0, 1);
}
.LogoDolores-footer{
  width: 10%;
  height: auto;
}
.Logo_footer{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 2%
}
.sponsors{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: inline-block;
  text-align: center;
}
.LogoSponsors{
  width: 9%;
  height: auto;
  margin: 1.5%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}
.LogoSponsors:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.sponsors1{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.LogoSponsors1{
  width: 12%;
  height: auto;
  margin: 1.5%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}
.container-footer {
  
  color: var(--color4);
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}
.LogoSponsors1:hover{
  transform: scale(1.2);
}
/*-----------------------PRODUCTOS---------------------------------------------------------*/
.productos{
  width: 80%;
  border: 2px solid black;
  display: flex;
  background-color: var(--color1);
  margin-top: 5%;
  margin-bottom: 10%;
  border-style: solid;
  border-radius: 0 20% 10% 0;

}
.producto{
  display: inline-block;
  border: 2px solid black;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}
.producto p{
  color: var(--color4);
}
.producto:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

/*-----------------------Equipo---------------------------------------------------------*/
.Team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Team_imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-bottom: 20%;
}

.team-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.team-image:hover {
  
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.Team_titulo{
  margin:5%;
}
/*-----------------------Perfil---------------------------------------------------------*/
.Perfil {
  display: flex;
  border: 2px solid black;
  background-image: url('./imagenes/Foto2.jpg');
  background-size: cover; /* Ajusta la imagen para cubrir el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  
}
.Perfil_content{
  display: flex;
  margin-top: 5%;
  margin-bottom: 10%;
  border: 2px solid black;
}
.name-and-flag {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.nationality-image {
  width: 4%; 
  height: auto; 
}

.Perfil_foto_redes, .Perfil_info {
  flex: 1; 
  
}

.Perfil_foto_redes {
  display: flex;
  flex-direction: column; 
  border: 2px solid black;
}

.Perfil_foto {
  width: 65%;
  margin-left: 27%; 
  border: 2px solid rgb(255, 0, 0);
}

.perfil-image {
  width: 100%;
  height: auto;
  display: block;
}

.Perfil_redes_foto {
  width: 8%;
  margin:1%;
 
}

.Perfil_redes {
  display: flex;
  justify-content: center; 
  
  margin-top:25%;
}

.Perfil_info {
  align-items: left;
  border: 2px solid black;
}
.Perfil_info h1 {
  margin-left: 4%;
}

.info-item {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
}

.info-item h2, .info-item h3 {
  margin: 0;
  text-align: center;
  margin-left: 2%;
}
/*----------------------------staff------------------------------------------*/
.Team_imagenes_staff {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-bottom: 20%;
}
.Team_staff{
  border: 2px solid black;
  text-align: center;
  width: 80%;
  
}
.staff-image{
  width: 90%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  
}
.staff_redes{
  
}
.Team_staff:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.Perfil_redes_foto:hover{
  transform: scale(1.2);
}

/*----------------------------Sponsors------------------------------------------*/
.Sponsors-main{
  
  display: grid;
  justify-items: left;
  align-items: left;
  margin-left: 10%;
  margin-top: 5%;
}
.Sponsors-Principales {
  display: grid;
  width: 65%;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-bottom: 20%;
  margin-top: 5%;
  
}
.Sponsors-imagenes{
  background-color: #cfffd2;
  width: 300px;
  height: 300px;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.Sponsors-imagenes:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.Sponsors-imagenes img{
  width: 95%;
  height: auto;
  object-fit: cover;
}
.Sponsors-Secundarios {
  display: grid;
  width: 65%;
  grid-template-columns: repeat(4, 1fr);
  gap: 4%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-bottom: 20%;
  margin-top: 5%;
}
.Sponsors-imagenes1{
  background-color: #cfffd2;
  width: 220px;
  height: 220px;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.Sponsors-imagenes1:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.Sponsors-imagenes1 img{
  width: 95%;
  height: auto;
  object-fit: cover;
}
/*----------------------------SobreNosotros------------------------------------------*/
.Sobre-Nosotros{
  border: 2px solid black;
  display: grid;
  justify-items: center;
  align-items: center;
}
.Sobre-Nosotros1{
  background-color: var(--color4);
  margin-top:5% ;
  border: 2px solid black;
  display: grid;
  justify-items: center;
  align-items: center;
}
.Sobre-Nosotros-Titulo{
  border: 2px solid black;
  width: 80%;
  margin:2% ;
}
.Sobre-Nosotros-img {
  display: grid;
  justify-items: center;
  align-items: center;
}
.Sobre-Nosotros-img img{
  margin:2% ;
  width: 80%;
}
.Sobre-Nosotros-Parrafo{
  border: 2px solid black;
  margin:2% ;
}

/*--------------------------Carreras----------------------------*/

.Carreras {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Carreras_imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%; /* Ajusta este valor según el espacio deseado entre las imágenes */
  justify-items: center;
  margin-bottom: 20%;
}
.Carreras_staff{
  border: 2px solid black;
  text-align: center;
  width: 80%;
  
}
.Carreras-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.Carreras-image:hover {
  
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.Carreras_titulo{
  margin:5%;
}